<h1>Lost and Found website</h1>
<h2>All lost items</h2>
<h2><a href="http://127.0.0.1:8000/index/search/">Search items</a></h2>
<table>
    <tr>
      <th>Title</th>
      <th>Type of item</th>
      <th>Date lost</th>
    </tr>
    {% for Lostitem in all_lost%}
        <tr>
            <td><a href="{% url 'detail' Lostitem.id%}">{{Lostitem.title}}</a></td>
            <td>{{Lostitem.typeofitem}}</td>
            <td>{{Lostitem.datelost}}</td>
        </tr>
    {% endfor %}

  </table>
<h2>Lost phones</h2>
  <table>
    <tr>
      <th>Title</th>
      <th>Type of item</th>
      <th>Date lost</th>
    </tr>
    {% for Lostitem in lost_phones%}
        <tr>
          <td><a href="{% url 'detail' Lostitem.id%}">{{Lostitem.title}}</a></td>
          <td>{{Lostitem.typeofitem}}</td>
          <td>{{Lostitem.datelost}}</td>
        </tr>
    {% endfor %}

  </table>

  <h2>Lost today</h2>
  <table>
    <tr>
      <th>Title</th>
      <th>Type of item</th>
      <th>Date lost</th>
    </tr>
    {% for Lostitem in lost_today%}
        <tr>
          <td><a href="{% url 'detail' Lostitem.id%}">{{Lostitem.title}}</a></td>
          <td>{{Lostitem.typeofitem}}</td>
          <td>{{Lostitem.datelost}}</td>
        </tr>
    {% endfor %}

  </table>